extends layout.pug

block content
    if created
        p(style='color: green') #{created}
    if error
        p(style='color: red') #{error} 
    if loggedOut
        p(style='color: green') #{loggedOut}
    if editDelete
        p(style='color: red') #{editDelete}
    
    h1 Sign in
    form(action ='/login', method = 'post')
        label(for="username") Username
        br
        input( type="text" name="username" required )
        label(for="password") Password
        br
        input(name = "password" type = "password" required)
        button(type="submit") Sign in

    a(href='/') Nevermind
    br
    span Don't have an account yet? 
    a(href="/signup") Sign up here!

